@font-face {
  font-family: Roboto;
  src: url(/Users/kayla/Downloads/Roboto/Roboto-Regular.ttf);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.top {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 48px;
  justify-content: space-between;
  background: #1f2937;
}

.header {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

ul {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

a {
  color: #e5e7eb;
  padding: 8px;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  background: #1f2937;
}

.container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 300px;
  gap: 10px;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-img {
  padding: 48px;
  height: 200px;
  width: 250px;
}

.text {
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  border: 2px;
  border-radius: 12px;
  padding: 10px;
  width: 100px;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px;
}

.body-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 48px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.box-img {
  border: 2px solid;
  border-color: #3882f6;
  border-radius: 12px;
}
